@model IEnumerable<Reservation>

    @{
        ViewData["Title"] = "List of Reservations";
    }
    <div class="row">
        @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
             <div class="card mb-3" style="max-width: 540px;">
                 <div class="row g-0">
            <div class="col-md-12">
                <div class="card-header text-white bg-info">
                    <p class="card-text">
                        <h5 class="card-title">
                            @item.NameOfReservation
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                             <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.ReservationId"><i class="bi bi-pencil-square"></i></a>
                            }
                        </h5>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <img src ="@item.imgOfReservation" width="50%" alt="@item.NameOfReservation">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <p class="card-text">@item.DescriptionOfReservation</p>
                    <p class="card-text"><b>Name: <b>@item.NameOfReservation</p>
                    <p class="card-text"><b>Description: <b>@item.DescriptionOfReservation</p>
                    <p class="card-text"><b>Date of Reservation: <b>@item.DateOfReservation.ToString("dd MMM yy")</p>
                    <p class="card-text"><b>Time of Reservation: </b>@item.TimeOfReservation.ToString("dd MMM yy")</p>
                    <p class="card-text"><b>Category: </b>@item.ProcedureCategory</p>
                    <p class="card-text ">
                        
                    </p>

                </div>
            </div>
            <div class="col-md-12">
                <div class="card-footer ">
                    <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.ReservationId">
                                    <i class="bi bi-eye-fill"></i> Show Details
                                </a>
                                <a class="btn btn-success text-white">
                                <i class="bi bi-cart-plus"></i> Price (@item.priceOfReservation.ToString("c"))
                                </a>
                                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <th>
                                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ReservationId"><i class="bi bi-trash"></i>Delete</a>
                                    </th>
                                }
                                
                    </p>
                </div>
            </div>
        </div>
        </div>
        </div>
    }
    </div>
@await Html.PartialAsync("_CreateItem","Reservations" )